
.mdui-m-l-1 {
  margin-left:5% !important;
}

.mdui-m-l-2{
  margin-left:10% !important;
}

.mdui-m-r-1 {
  margin-right:5%!important;
}

.mdui-m-t-1 {
  margin-top: 5% !important;
}
@font-face {
  font-family: 'SweiSugarCJKtc-Regular';
  src: url('./fonts/Sugar.woff') format("woff"), url('./fonts/Sugar.woff2') format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/GoogleSans.woff') format("woff"), url('../fonts/GoogleSans.woff2') format("woff2");
}

body {
  font-family: 'Google Sans' ,  serif;
  cursor: url('../icons/normal.cur'), auto;
}

pre {
  font-family: 'Google Sans' , serif;
}

.box_inline{
  display:inline;} 

a{
    cursor: url('../icons/pointer.cur'), pointer;} 

.info{
      cursor: url('../icons/info.cur'), auto;} 
  
